@import '../../../App.scss';

#aboutScope{
    position: relative;
    width: $width;
    // height: $height;
    // padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}