@import '../../App.scss';

.landing{
    position: relative;
    width: 100%;
    // height: $height;
    // overflow: hidden;

    .arrow{
        position: fixed;
        bottom: 5%;
        right: 3%;
        padding: .5em;
        border-radius: $radius;
        background: $main;
        display: grid;
        place-items: center;
        cursor: pointer;
        border: 0.02em solid $white;
    }

}

.section{
    height: $height;
    scroll-snap-align: start;
}