@import '../../App.scss';

#quote{
    position: relative;
    font-family: $font;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3em;
    font-size: $text;

    figure{
        position: relative;
        width: 80%;
        height: calc($wk-height * 0.17);
        overflow: hidden;
        padding: 1em;
        margin: 1em;

        &::before,
        &::after{
            content: "";
            position: absolute;
            background: rgba($accent, 0.6);
            z-index: -1;
        }

        &::after{
            width: 60%;
            height: 85%;
            bottom: 0;
            right: 0;
        }

        &::before{
            width: 30%;
            height: 45%;
            top: 0;
            left: 0;
        }

        img{
            object-fit: cover;
            width: 100%;
            height: 100%;
            z-index: 11;
        }
    }

    blockquote{
        position: relative;
        border-top: 0.2em solid $blue;
        padding: 1em;
        display: flex;
        flex-direction: column;
        gap: .4em;
        color: $gray;

        cite{
            color: $blue;
        }
    }
}

@media screen and (max-width: 500px) {
    #quote{
        width: 100%;
        padding: 0;

        figure{
            width: 100%;
        }
    }
}