@import '../../App.scss';

#hero{
    position: relative;
    width: $width;
    height: calc($height * 0.59);
    display: flex;
    flex-direction: column;
    overflow: hidden;

    #hr-top{
        position: relative;
        width: 100%;
        height: 100%;
        
        #hero-content{
        position: relative;
        width: 100%;
        height: 100%;

            img{
                width: 100%;
                object-fit: cover;
                height: 100%;
            }
        }
        span{
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            padding: 0 1em;
            background: rgba($black, 0.5);
            font-size: calc($text * 2);
            color: $white;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;

            h2{
                font-weight: 300;
            }
        }
    }

    .indicators{
        position: absolute;
        bottom: 5%;
        justify-self: center;
        align-self: center;
        display: flex;
        align-items: center;
        gap: .5em;
        z-index: 20;

        .indicator{
            height: calc($wk-height * 0.01);
            width: calc($wk-width * 0.01);
            border-radius: $radius;
            background: $white;
            cursor: pointer;

            &.active{
                background: $gray;
            }
        }
    }
}