@import '../../App.scss';

#hero{
    position: relative;
    width: $width;
    height: calc($height * 0.67);
    display: flex;
    flex-direction: column;
    padding: 0 1em;
    
    #hr-top{
        position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden;
        
        #hero-content{
            position: relative;
            width: 100%;
            height: 100%;

            img{
                position: relative;
                width: 100%;
                height: 100%;
                // object-fit: cover;
            }
        }
        span{
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            padding: 0 1em;
            background: rgba($black, 0.5);
            font-size: calc($text * 2);
            color: $white;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;

            h2{
                font-size: clamp(calc($large-text * 0.4), 5vw, calc($large-text * 0.3));
                font-weight: 300;
                margin-top: 19%;
                padding: 0 6em;
            }
        }
    }

    .indicators{
        position: absolute;
        bottom: 5%;
        justify-self: center;
        align-self: center;
        display: flex;
        align-items: center;
        gap: 1em;
        z-index: 20;

        .indicator{
            height: calc($wk-height * 0.005);
            width: calc($wk-width * 0.005);
            border-radius: $radius;
            background: $white;
            cursor: pointer;

            &.active{
                background: $gray;
            }
        }
    }
}