@import '../../App.scss';

#scope{
    position: relative;
    width: $width;
    height: $height;

    .slides{
        position: relative;
        width: $width;

        img{
            width: 100%;
            object-fit: cover;
        }

        article{
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
        }

        .agro{
            background: radial-gradient(
                circle,
                rgba($brown, 0.2),
                rgba($brown, 0.6)
            );
        }
    }
}