@import '../../../App.scss';

#history{
    position: relative;
    width: $width;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 1/1;
    overflow-y: hidden;
    gap: 5em;

    #hist-top, #hist-bottom{
        position: relative;
        display: flex;
        align-items: flex-start;
        gap: 1em;

        aside{
            position: relative;
            width: calc($width * 0.3);
            display: flex;
            flex-direction: column;
            align-items: flex-end;

            h1{
                color: $main;
                font-size: clamp(calc($large-text * 0.5), 5vw, $large-text); 
                text-align: right;
            }
        }

        article{
            position: relative;
            width: calc($width * 0.7);

            #otigba{
                position: relative;
                width: 100%;
                height: calc($wk-width * 0.15);
                object-fit: cover;
                border-radius: $small-radius;
                padding: 1em 4em;
            }
        
            p{
                font-family: $font;
                margin: 1em 0;
                padding: 0 4em;
                text-align: justify;
            }
        }

        #subs{
            position: relative;
            // width: 100%;
            display: flex;
            align-items: flex-start;
            flex-wrap: wrap;
    
            .container{
                position: relative;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                // width: auto;
                text-align: justify;
    
                h2{
                    font-family: $header-font;
                    color: $main;
                    letter-spacing: .1em;
                    gap: .2em;
                    padding: 0 3em;
    
                    img{
                        width: 1em;
                    }
                }
                p{
                    font-family: $font;
                }
            }
        }
    }

    

    span{
        position: relative;
        width: 100%;
        align-self: center;
        margin-top: 2em;
        display: grid;
        place-items: center;
        z-index: 0;

        #icon{
            width: 3em;
        }

        p{
            position: absolute;
            top: -25%;
            right: 0;
            font-family: $font;
        }

        &::before,
        &::after{
            position: absolute;
            content: "";
            top: 50%;
            height: 0.2em;
            width: 45%;
            background: $main;
            z-index: 99;
        }

        &::before{
            left: 0;
        }

        &::after{
            right: 0;
        }
    }

    #subs{
        position: relative;
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        flex: 1/1;
        padding: 6em 0;

        .container{
            position: relative;
            width: 45%;
            margin: 1em 0;
            text-align: justify;

            h2{
                font-family: $header-font;
                color: $main;
                letter-spacing: .1em;
                display: flex;
                align-items: center;
                gap: .2em;
                padding: 0 3em;

                img{
                    width: 1em;
                }
            }
            p{
                font-family: $font;
            }
        }
    }

}

@media screen and (max-width: 500px) {
    #history{
        position: relative;
        padding: 0;

        p{
            padding: 2em;
        }

        #subs{
            position: relative;
            width: $width;
            display: flex;
            flex-direction: column;

            .container{
                position: relative;
                width: 100%;

                h2{
                    width: 100%;
                    align-self: flex-start;
                }
            }
        }
    }
}