@import '../../../App.scss';

#ac-hero{
    position: relative;
    width: $width;
    display: flex;
    align-items: center;
    font-family: $font;
    gap: 5em;
    padding: 4em;
    background: linear-gradient(
        135deg,
        rgba($white, 1) 60%,
        rgba($gray, 0.4)
    );
    z-index: -2;

    .ac-hero-side{
        position: relative;
        width: 35%;
        overflow: hidden;
        margin: 1em;
        
        figure{
            position: relative;
            width: 100%;
            padding: 1em;
            
            &::before,
            &::after{
                content: "";
                position: absolute;
                background: rgba($capt-color, 1);
                z-index: -1;
            }
            
            &::after{
                width: 70%;
                height: 85%;
                bottom: 0;
                right: 0;
            }
            
            &::before{
                width: 40%;
                height: 45%;
                top: 0;
                left: 0;
            }
            
            img{
                object-fit: cover;
                width: 100%;
                z-index: 11;
            }
        }

        span{
            // position: absolute;
            bottom: -10%;

            h2{
                color: $gray;
                font-weight: 400;
            }

            p{
                color: $blue;
            }
        }
    }

    aside{
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 2em;
        width: 50%;

        h1{
            color: $blue;
            font-weight: 400;
        }

        article{
            display: flex;
            flex-direction: column;
            gap: .5em;

            ul{
                display: grid;
                grid-template-columns: auto auto;
                gap: 1em;
            }
        }

        #consult-socials{
            position: relative;
            display: flex;
            gap: 1em;

            a{
                color: $gray;
                text-decoration: none;

                &:hover{
                    color: $avvicblue;
                }
            }
        }
    }
}

@media screen and (max-width: 600px) {
    #ac-hero{
        flex-direction: column;
        padding: 0 2em;
        
        figure, aside{
            width: 100%;
            gap: 1em;
        }
    }
}

@media screen and (max-width: 1000px) {
    #ac-hero{
        gap: 2em;
    }
}