@import '../../App.scss';

#info{
    position: relative;
    width: $width;
    padding: 5em 0 0 0;
    text-align: center;

    h1{
        font-family: $header-font;
        font-size: $large-text;
        color: $accent;
        font-weight: 700;
        -ms-padding: 0 8.5em;
        padding: 0 8.7em;
    }
    p{
        font-family: $font;
        font-size: calc($text * 1.2);
        padding: 0 16em;
    }
}

@media screen and (max-width: 900px) {
    #info{
        h1, p{
            padding: 0;
        }
    }
}