@import '../../../App.scss';

#bod{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2em;

    h2{
        text-align: center;
        font-family: $header-font;
        color: $main;
        margin: .5em;
        font-weight: 500;
    }

    .bod-container{
        position: relative;
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 2em;
        padding: 0 6em;
    }
}

@media screen and (max-width: 900px) {
    #bod{
        .bod-container{
            width: auto;
            padding: 0;
        }
    }
}