@import '../../../App.scss';

#bod{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2em;

    h2{
        text-align: center;
        font-family: $header-font;
        color: $main;
        margin: .5em;
    }

    .bod-container{
        position: relative;
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 3em;
        border-radius: $small-radius;
    }
}