@import '../../../App.scss';

#at-offers{
    position: relative;
    width: $width;
    padding: 6em 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 3em;

    h1, h2{
        color: $blue;
        font-weight: 400;
    }

    h1{
        padding-left: 6em;
    }

    .even-id, .odd-id{
        display: flex;
        align-items: center;
        gap: 5em;
        padding: 4em 12em;

        img{
            width: calc($wk-width * 0.25);
        }

        span{
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            gap: 2em;
        }
    }

    .even-id{
        flex-direction: row-reverse;
        background: linear-gradient(
            135deg,
            rgba($white, 1),
            rgba($gray, 0.4)
        );
    }
}

@media screen and (max-width: 600px) {
    #at-offers{
        position: relative;
        padding: 1em;
        text-align: left;

        .even-id, .odd-id{
            flex-direction: column;
            gap: 1em;

            img{
                width: 100%;
            }
        }
    }
}

@media screen and (max-width: 1000px) {
    #at-offers{
        position: relative;
        gap: 2em;

        .even-id, .odd-id{
            gap: 2em;
            padding: 2em 0;

            img{
                width: calc($wk-width * 0.2);
            }

            span{
                gap: 1em;
            }
        }
    }
}