@import '../../../App.scss';

#leadership{
    position: relative;
    width: 100%;
    font-family: $font;
    display: flex;
    flex-direction: column;
    gap: 2.5em;

    .buttons{
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        width: $width;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        padding: 1em 0;
        z-index: 11;

        .toggle{
            background: none;
            color: $black;
            cursor: pointer;

            &:hover{
                border-bottom: 0.02em solid $blue;
            }

            &.active{
                border-bottom: 0.02em solid $blue;
            }
        }

    }
}

@media screen and (max-width: 900px) {
    #leadership{
        position: relative;

        .buttons{
            display: flex;
            flex-direction: column;
            gap: .3em;

            .toggle{
                width: 100%;
            }
        }
    }
}