@import '../../App.scss';

footer{
    position: relative;
    width: $width;
    display: flex;
    flex-direction: column;
    gap: 2em;
    padding: 2em 0;
    background: $main;
    color: $white;

    .foot{
        position: relative;
        padding: 0 2em;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        flex: 1/1;
        gap: 1em;
        width: 100%;

        
        h2{
            font-family: $header-font;
        }
        
        .menu, .subs{
            display: flex;
            flex-direction: column;
            
            .links{
                margin: 0.2em 0;
                font-family: $font;
                text-decoration: none;
                color: rgba($white, 0.7);
                
                &:hover{
                    color: $white;
                }
            }
        }
    
        aside{
            position: relative;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            flex: 1/1;
            gap: 1em;
            
            a{
                color: $white;
                font-family: $font;
                
            }

            
            .socials{
                display: flex;
                gap: 1em;
                
                a{
                    color: $white;
                    
                    &:hover{
                        color: $brown;
                    }
                }
            }

            label{
                position: relative;
                width: $width;

                input{
                    width: 100%;
                    outline: none;
                    border: none;
                    font-size: $text;
                    padding: .5em;
                    border-radius: $small-radius;
                    font-family: $font;
                }
                button{
                    position: absolute;
                    top: 0;
                    right: 0;
                    padding: .3em .7em;
                    background: $main;
                    outline: none;
                    border: none;
                    border: 0.02em solid $white;
                    border-top-right-radius: $small-radius;
                    border-bottom-right-radius: $small-radius;
                    cursor: pointer;

                    &:hover{
                        background: $accent;
                    }
                }
            }
        }
    }

    .foots{
        position: relative;
        align-self: center;
        text-align: center;
        letter-spacing: 0.1em;
        
        p{
            font-family: $font;
        }
    }
}