@import '../../../App.scss';

#heros{
    position: relative;
    width: $width;
    background-size: cover;
    font-family: $font;
    text-align: center;
    color: $white;

    img{
        object-fit: contain;
        width: 100%;
    }

    h1{
        position: absolute;
        top: 35%;
        left: 40%;
        font-family: $header-font;
        font-size: clamp($text, 5vw, $large-text);
        font-weight: 500;
    }
}