// @import url('https://fonts.cdnfonts.com/css/bree-serif-2');
@import url('https://fonts.cdnfonts.com/css/poppins');

*,
*::before,
*::after{
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

$black: #0e0e0e;
$white: #fefefe;
$main: #353C5B;
$accent: #0D9999;
$avvicblue: #336574;
$sub: #D0FBFB;
$skyblue: #B8D7E0;
$brown: #c09c37;
$gray : #777777;
$blue: #1896FE;

$height: 100vh;
$width: 100%;
$wk-height: 100em;
$wk-width: 100em;
$radius: 50%;
$small-radius: 0.5em;
$header-font: 'Poppins', sans-serif;
$font: 'Poppins', sans-serif;
$text: 1em;
$large-text: 3em;
$extra-large-text: 4em;

::-webkit-scrollbar{
    width: .3em;
}

::-webkit-scrollbar-thumb{
    padding: .1em;
    background: $main;
    border-radius: $small-radius;
}

.App{
    font-family: $font;
}