@import '../../../App.scss';

#aboutMain{
    position: relative;
    width: $width;
    height: 100%;
    display: flex;
    // align-items: center;
    flex-direction: row-reverse;
    justify-content: space-between;
    font-family: $font;
    padding: 4em 8em 4em 3em;
    gap: 2em;

    p{
        position: relative;
        width: 90%;
        color: $gray;
        text-align: justify;
        margin-top: 8em;
    }
}

@media screen and (max-width: 650px) {
    #aboutMain{
        display: flex;
        flex-direction: column-reverse;
        padding: 1em;

        p{
            width: 100%;
        }
    }
}